* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bona Nova", serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
  }
  
  html {
    font-size: 62.5%;
  }
  
  @media (max-width: 2560px) {
    html {
      font-size: 65%;
    }
    footer {
      height: 35rem;
    }
    .gallery {
      padding: 18rem;
    }
    .ldgallery {
        padding: 8rem 20rem;
    }
    .lditems .item img{
        width:95%;
        height:auto;
    }
  }
  
  @media (max-width: 1600px) {
    html {
      font-size: 65%;
    }
    footer {
      height: 35rem;
    }
    .gallery {
      padding: 12rem 18rem 10rem 18rem;
    }
    .ldgallery {
        padding: 8rem 20rem;
    }
    .lditems .item img{
        width:95%;
        height:auto;
    }
    header .navigation li a {
      display: none;
    }
    .menuToggle{
      position: absolute;
      top: 4rem;
      right: 6rem;
      height: 4rem;
      width: 4rem;
      background: url("/images/bar2.png");
      justify-content: right;
      background-repeat: no-repeat;
      background-size: 5rem;
      background-position: center;
      cursor: pointer;
    }
    .menuToggle.active{
      background: url("/images/close.jpg");
      background-repeat: no-repeat;
      background-size: 2rem;
      background-position: center;
      background: chocolate;
  
    }
  }
  
  @media (max-width: 1200px) {
    html {
      font-size: 60%;
    }
    header .navigation li a {
      display: none;
    }
    header .navigation {
      padding: 4rem 2rem 4rem 8rem;
    }
    footer {
      height: 35rem;
    }
    .gallery {
      padding: 8rem 6rem 6rem 12rem;
    }
    /* .portfolio-items img {
        padding: 1rem;
    } */
    .ldgallery {
        padding: 8rem 1rem;
    }
    .lditems .item img{
        width:60%;
        height:auto;
    }
    .menuToggle{
      position: absolute;
      top: 4rem;
      right: 6rem;
      height: 6rem;
      width: 6rem;
      background: url("/images/bar2.png");
      justify-content: right;
      background-repeat: no-repeat;
      background-size: 5rem;
      background-position: center;
      cursor: pointer;
    }
    .menuToggle.active{
      background: url("/images/close.png");
      justify-content: right;
      background-repeat: no-repeat;
      background-size: 5rem;
      background-position: center;
  
    }
  }
  
  @media (max-width: 768px) {
    html {
      font-size: 40%;
    }
    header .navigation {
      padding: 4rem 2rem 4rem 20rem;
    }
    footer {
      height: 35rem;
    }
    .gallery {
      padding: 8rem 2rem 8rem 1rem;
    }
    /* .portfolio-items .item {
        padding: 3rem;
    } */
    .ldgallery {
        padding: 5rem 16rem;
    }
    .lditems .item img{
        width:100%;
        height:auto;
      }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 25%;
    }
    header .navigation li a {
      display: none;
    }
    .imgheader {
      width: 20%;
      height: 20%;
    }
    footer {
      height: 50rem;
    }
    .gallery {
      padding: 8rem 4rem 9rem 6rem;
    }
    /* .portfolio-items .item img{
        width: 99%;
        height:auto;
    } */
    .ldgallery {
        padding: 5rem 5.55rem;
      }
    .lditems .item img{
        width:95%;
        height:auto;
      }
  }
  
  @media (max-width: 390px) {
    html {
      font-size: 25%;
    }
    header .navigation li a {
      display: none;
    }
    .imgheader {
      width: 20%;
      height: 20%;
    }
    footer {
      height: 50rem;
    }
    .gallery {
      padding: 8rem 4rem 3rem 3rem;
    }
    .portfolio-items img{
        width: 97%;
        height:auto;
    }
    .ldgallery {
        padding: 3rem 0rem;
      }
    .lditems .item img{
        width:95%;
        height:auto;
    }
  }
  
  @media (max-width: 320px) {
    html {
      font-size: 21.5%;
    }
    footer {
      height: 50rem;
    }
    .gallery {
      padding: 8rem 5rem 9rem 3rem;
    }
    .portfolio-items img{
        width: 100%;
        height:auto;
    }
    .ldgallery {
        padding: 5rem 1rem;
      }
      .lditems .item img{
        width:95%;
        height:auto;
      }
  }
  
  body {
    min-height: 100rem;
  }
  
  p {
    font-weight: 500;
    color: wheat;
  }
  
  .banner {
    position: relative;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.4)),
      url("/images/bg.jpg");
    background-size: cover;
    display: flex;
  }
  
  /* img {
    position: absolute;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  } */
  
  .banner .content {
    max-width: 90rem;
    text-align: center;
    display: block;
  }
  
  .banner .content span {
    color: wheat;
  }
  .banner .content .text1 {
    font-size: 5rem;
    letter-spacing: 0.8rem;
    color: wheat;
    /* animation: text 3s 1; */
  }
  
  .banner .content .text2 {
    font-size: 2rem;
    /* margin: 1.5rem; */
    color: wheat;
    letter-spacing: 0.4rem;
    /* animation: texts 3s 1; */
  }
  
  .banner .content .text3 {
    font-size: 2.5rem;
    /* margin: 2rem; */
    letter-spacing: 0.3rem;
    color: wheat;
    /* animation: texting 3s 1; */
  }
  
  /* @keyframes text {
      0%{
          color: black;
          margin-bottom: -4rem;
      }
      30%{
          letter-spacing: 1.2rem;
          margin-bottom: -4rem;
      }
      85%{
          letter-spacing: .8rem;
          margin-bottom: -4rem;
      }
  }
  
  @keyframes texts {
      0%{
          color: black;
          margin-bottom: -4rem;
      }
      30%{
          letter-spacing: 0.5rem;
          margin-bottom: -4rem;
      }
      85%{
          letter-spacing: .4rem;
          margin-bottom: -4rem;
      }
  }
  
  @keyframes texting {
      0%{
          color: black;
          margin-bottom: -4rem;
      }
      30%{
          letter-spacing: 0.4rem;
          margin-bottom: -4rem;
      }
      85%{
          letter-spacing: .3rem;
          margin-bottom: -4rem;
      }
  } */
  
  .btn {
    font-size: 2rem;
    text-decoration: none;
    color: #000000;
    background: #ff0157;
    padding: 0.8rem 2.5rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-top: 1rem;
    transition: 0.5s;
    animation: anime 1s 1;
  }
  
  .btn:hover {
    letter-spacing: 0.6rem;
    color: #fff;
  }
  
  @keyframes anime {
    0% {
      color: black;
      margin-bottom: -2rem;
    }
    30% {
      letter-spacing: 0.4rem;
      margin-bottom: -2rem;
    }
    85% {
      letter-spacing: 0.3rem;
      margin-bottom: -2rem;
    }
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 10rem;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
  }
  
  header.sticky {
    background: rgb(2, 40, 73);
    padding: 1rem 10rem;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.05);
  }
  
  header .logo {
    color: wheat;
    font-weight: 600;
    text-decoration: none;
    font-size: 3rem;
  }
  
  header .logo span {
    color: #ff0157;
  }
  
  header.sticky .logo {
    color: rgb(231, 227, 227);
  }
  
  header .navigation {
    position: relative;
    display: flex;
  }
  
  header .navigation li {
    list-style: none;
    margin-left: 3rem;
    /* border: .1rem solid pink; */
  }
  
  header .navigation li a {
    position: relative;
    text-decoration: none;
    color: wheat;
    font-weight: 300;
    font-size: 1.7rem;
    font-weight: 600;
  }
  
  header .navigation li a:hover {
    color: #ff0157;
  }
  
  header.sticky .navigation li a {
    color: rgb(231, 227, 227);
  }
  
  header .navigation li a:before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 0%;
    height: 0.3rem;
    background-color: #f36d9a;
    transition: all 0.3s linear;
  }
  
  header .navigation li a:hover:before {
    width: 100%;
    background-color: #910161;
  }
  
  header.sticky .navigation li a:hover {
    color: #ff0157;
  }
  
  ::-webkit-scrollbar {
    width: 0;
  }
  
  #scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 1rem;
    height: 100%;
    background: rgba(0, 0, 0, 0.05);
  }
  
  #progressbar {
    position: fixed;
    top: 0;
    right: 0;
    width: 1rem;
    height: 100%;
    background: rgb(2, 52, 95);
    z-index: 10000;
    animation: animate 5s linear infinite;
  }
  
  /* @keyframes animate{
      0%,100%{
          filter: hue-rotate(0deg);
      }
      50%{
          filter: hue-rotate(360deg);
      }
  } */
  
  #progressbar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(2, 52, 95);
    filter: blur(0.6rem);
  }
  
  #progressbar:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(2, 52, 95);
    filter: blur(0.6rem);
  }
  
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background:rgb(10, 10, 10); */
    font-size: 2.5rem;
    color: #111;
    letter-spacing: 0.6rem;
    font-weight: 400;
  }
  
  .titleText {
    padding: 0.5rem;
  }
  
  .titleText span {
    color: #ff0157;
    font-size: 6rem;
    font-weight: 900;
  }
  
  .portfolio-menu {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .portfolio-menu ul li {
    text-decoration: none;
    display: inline-block;
    margin: 7rem 0rem;
    font-size: 2rem;
    color: black;
    font-weight: 700;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;
  }
  
  .portfolio-menu ul li:hover {
    color: white;
    background: #ff0157;
    border-radius: 0.8rem;
  }
  
  .portfolio-menu ul li.active {
    color: white;
    background: #ff0157;
    border-radius: 0.8rem;
  }
  
  
  
  /* .portfolio-items .item{
      width: 30rem;
      height:28rem;
      float: left;
      margin-bottom: 2rem;
      margin-right: 2rem;    
  } */
  
  .portfolio-items .item {
    padding: 1.5rem;
    float: left;
    /* width: auto;
    height: 500rem; */
  }
  
  .portfolio-items .item img {
    /* width: 100%;
      height: 100%; */
    border-radius: 1rem;
    /* padding: 2rem; */
  }
  

  .ldgallery {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .ldgallery ul li {
    text-decoration: none;
    display: inline-block;
    margin: 7rem 0rem;
    font-size: 2rem;
    color: black;
    font-weight: 700;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: 0.5s ease;
    text-align: center;
  }
  
  .ldgallery ul li:hover {
    color: white;
    background: #ff0157;
    border-radius: 0.8rem;
  }
  
  .ldgallery ul li.active {
    color: white;
    background: #ff0157;
    border-radius: 0.8rem;
  }
  
  .lditems .item {
    padding: 3rem;
    float: left;
    /* width: auto; */
    /* height: 500rem; */
  }
  
  .lditems .item img {
    /* width: 100%;
      height: 100%; */
    border-radius: 1rem;
    /* padding: 2rem; */
  }
  
  .detail {
    font-size: 1.5rem;
    padding: 3rem;
    letter-spacing: 0.1rem;
    color: rgb(167, 165, 165);
  }
  
  section {
    padding: 10rem;
  }
  
  .row {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .row .col50 {
    position: relative;
    width: 88%;
  }
  
  .heading {
    color: #111;
    font-size: 4.5rem;
    font-weight: 700;
  }
  
  .heading span {
    color: #ff0157;
    font-size: 7rem;
    font-weight: 900;
  }
  
  .me {
    color: #ff0157;
    letter-spacing: 0.1rem;
    font-size: 5rem;
    font-weight: 900;
  }
  
  .row .col50 .imgbox {
    position: relative;
    width: 70%;
    height: 100%;
    /* background: #999; */
  }
  
  .row .col50 .imgbox img {
    position: relative;
    top: 12rem;
    left: 8rem;
    width: auto;
    height: 40rem;
    /* padding: 10rem 10rem;     */
  }
  
  .col50 p {
    font-size: 1.7rem;
    color: #111;
    font-weight: 600;
    width: 89rem; 
    /* background: #910161; */

  }
  
  .cards {
    color: #ff0157;
  }
  
  .cards:hover {
    color: rgb(2, 52, 95);
  }
  
  footer {
    position: relative;
    bottom: 0rem;
    width: 100%;
  
    background: #111;
    /* height: auto; */
    /* padding: 5rem 10rem; */
    /* display:flex;
      justify-content: space-between;
      flex-wrap: wrap; */
  }
  
  footer {
    overflow-y: hidden;
  }
  footer .container {
    display: flex;
    /* width: 300rem; */
    /* justify-content: space-between;
      flex-wrap: wrap;
      flex-direction: row; */
  }
  
  .container .sec {
    flex-basis: 50%;
    padding: 1rem 2rem;
  }
  
  .sec h2 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    margin-left: 10rem;
    margin-top: 6rem;
  }

   /* .sec h2:before{
      content: '';
      position: absolute;
      bottom: -.5rem;
      left: 0;
      width: 5rem;
      height: .2rem;
      background:#ff0157;
  }  */
  
  .sec .details {
    margin: 2rem 0 0 0;
  }
  
  .phno,
  .mail,
  .myport {
    margin-left: 10rem;
  }
  
  .info .details p {
    text-align: justify;
    color: #999;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.7rem;
    font-weight: 600;
  }
  
  .info .details .social {
    margin: 2rem 0 0 0;
  }
  
  .info .details .social a {
    padding: 0 0.2rem;
  }
  
  .info .details .social a .icon .fa {
    height: 4rem;
    width: 4rem;
    background: #1a1a1a;
    line-height: 4rem;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    color: #999;
    transition: 0.3s;
  }
  
.info .details .social a .icon .fa:hover {
    background: #ff0157;
  }
  
.info .details .social a .icon .fa:hover {
    color: #fff;
  }
  
.details .icons1{
    /* height: 4rem;
    width: 5rem; */
    background: #1d1d1d;
    line-height: 5rem;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 1rem;
    color:#999;
    transition: 0.3s;
    padding: 1.2rem;
  }

.details .icons2{
    /* height: 4rem;
    width: 5rem; */
    background: #1d1d1d;
    line-height: 5rem;
    text-align: center;
    font-size: 1.8rem;
    border-radius: 0.5rem;
    color:#999;
    transition: 0.3s;
    padding: 1rem;
  }

.phone, .email{
      color: #999;
      padding: 1rem;
      font-size: 2rem;
      text-decoration: none;
  }

.phone:hover{
      color:#ff0157;
}
.email:hover{
    color:#ff0157;
}

.edit{
    color: #ff0157;
    font-size: 2.4rem;
    font-weight: 900;
}

.myport{
    color: #999;
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem;
}

.myport:hover{
    color: #ff0157;

}

hr.style-one {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
  
  
  hr.style-one:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7rem;
    font-size: 2rem;
    padding: 0 0.25rem;
    background: white;
  }

.copyright{
    width: 100%;
    background: #181818;
    padding: .8rem 10rem;
    text-align: center;
}

.copyright p{
    color: #999;
    font-size: 1.5rem;
}
  