*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bona Nova', serif;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
}

body{
 min-height: 100rem;
}

p{
    font-weight: 500;
    color: wheat;

}

.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4)),url('/images/bg.jpg');
    background-size:cover;
    display: flex;
}

/* img{
    position: absolute;
    background-size:cover;
    width: 100%;
    min-height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4));

} */

.banner .content{
    max-width: 90rem;
    text-align: center;
    display: block;
}

.banner .content span{
    color: wheat;
}
.banner .content .text1{
    font-size: 5rem;
    letter-spacing: 0.8rem;
    color:wheat;
    /* animation: text 3s 1; */
}

.banner .content .text2{
    font-size: 2rem;
    /* margin: 1.5rem; */
    color: wheat;
    letter-spacing: 0.4rem;
    /* animation: texts 3s 1; */
}

.banner .content .text3{
    font-size: 2.5rem;
    /* margin: 2rem; */
    letter-spacing: 0.3rem;
    color: wheat;
    /* animation: texting 3s 1; */
}

/* @keyframes text {
    0%{
        color: black;
        margin-bottom: -4rem;
    }
    30%{
        letter-spacing: 1.2rem;
        margin-bottom: -4rem;
    }
    85%{
        letter-spacing: .8rem;
        margin-bottom: -4rem;
    }
}

@keyframes texts {
    0%{
        color: black;
        margin-bottom: -4rem;
    }
    30%{
        letter-spacing: 0.5rem;
        margin-bottom: -4rem;
    }
    85%{
        letter-spacing: .4rem;
        margin-bottom: -4rem;
    }
}

@keyframes texting {
    0%{
        color: black;
        margin-bottom: -4rem;
    }
    30%{
        letter-spacing: 0.4rem;
        margin-bottom: -4rem;
    }
    85%{
        letter-spacing: .3rem;
        margin-bottom: -4rem;
    }
} */

.btn{
    font-size: 2rem ;
    text-decoration: none;
    color: #000000;
    background: #ff0157;
    padding: 0.8rem 2.5rem;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .2rem;
    margin-top: 1rem;
    transition: .5s;
    animation: anime 1s 1;
}

.btn:hover{
    letter-spacing: 0.6rem;
    color: #fff;
}

@keyframes anime {
    0%{
        color: black;
        margin-bottom: -2rem;
    }
    30%{
        letter-spacing: 0.4rem;
        margin-bottom: -2rem;
    }
    85%{
        letter-spacing: .3rem;
        margin-bottom: -2rem;
    }
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 10rem;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background: rgb(2, 40, 73);
    padding: 1rem 10rem;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,0.05);
}

header .logo{
    color: wheat;
    font-weight: 600;
    text-decoration: none;
    font-size: 3rem;
}

header .logo span{
    color: #ff0157;
}

header.sticky .logo{
    color: rgb(231, 227, 227);
}

header .navigation{
    position: relative;
    display: flex;
}

header .navigation li{
    list-style: none;
    margin-left: 3rem;
    /* border: .1rem solid pink; */
}

header .navigation li a{
    position: relative;
    text-decoration: none;
    color: wheat;
    font-weight: 300;
    font-size: 1.7rem;
    font-weight: 600;
}

header .navigation li a:hover{
    color: #ff0157;
}

header.sticky .navigation li a{
   color: rgb(231, 227, 227);
}

header .navigation li a:before{
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 0%;
    height: .3rem;
    background-color: #f36d9a;
    transition: all 0.3s linear;
    
}

header .navigation li a:hover:before{
    width: 100%;
    background-color: #910161;
  
}

header.sticky .navigation li a:hover{
    color: #ff0157;

}

::-webkit-scrollbar{
    width: 0;
}

#scrollPath{
    position: fixed;
    top: 0;
    right: 0;
    width: 1rem;
    height: 100%;
    background: rgba(0,0,0,0.05);
}

#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 1rem;
    height: 100%;
    background: rgb(2, 52, 95);
    z-index: 10000;
    animation: animate 5s linear infinite;
}

/* @keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
} */

#progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(2, 52, 95);
    filter: blur(0.6rem);
}

#progressbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(2, 52, 95);
    filter: blur(0.6rem);
}

.gallery{
    padding: 18rem;
    
}
.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background:rgb(10, 10, 10); */
    font-size: 2.5rem;
    color: #111;
    letter-spacing: 0.6rem;
    font-weight: 400;
}

.titleText span{
    color: #ff0157;
    font-size: 6rem;
    font-weight: 900;
}


.portfolio-menu{
    text-align: center;
    margin-bottom: 2rem;
}

.portfolio-menu ul li{
    text-decoration: none;
    display: inline-block;
    margin: 7rem 0rem;
    font-size: 2rem;
    color:black;
    font-weight: 700;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: .5s ease;
    text-align: center;
}

.portfolio-menu ul li:hover{
    color: white;
    background: #ff0157;
    border-radius: .8rem;
}

.portfolio-menu ul li.active{
    color: white;
    background: #ff0157;
    border-radius: .8rem;
}

/* .portfolio-items{
    width: 100%;
} */

/* .portfolio-items .item{
    width: 30rem;
    height:28rem;
    float: left;
    margin-bottom: 2rem;
    margin-right: 2rem;    
} */

.portfolio-items .item{
    padding: 1.5rem;
    float: left;
    width: auto;
    /* height: 500rem; */
}

.portfolio-items .item img{
    /* width: 100%;
    height: 100%; */
    border-radius: 1rem;
    /* padding: 2rem; */

}


.ldgallery{
    padding: 8rem 20rem;
}

.ldgallery{
    text-align: center;
    margin-bottom: 2rem;
}

.ldgallery ul li{
    text-decoration: none;
    display: inline-block;
    margin: 7rem 0rem;
    font-size: 2rem;
    color:black;
    font-weight: 700;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: .5s ease;
    text-align: center;
}

.ldgallery ul li:hover{
    color: white;
    background: #ff0157;
    border-radius: .8rem;
}

.ldgallery ul li.active{
    color: white;
    background: #ff0157;
    border-radius: .8rem;
}

.lditems .item{
    padding: 1.5rem;
    float: left;
    width: auto;
    /* height: 500rem; */
}

.lditems .item img{
    /* width: 100%;
    height: 100%; */
    border-radius: 1rem;
    /* padding: 2rem; */

}

section{
    padding: 10rem;
}

.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row .col50{
    position: relative;
    width: 88%;
   
}

.heading{
    color: #111;
    font-size: 4.5rem;
    font-weight: 700;
}

.heading span{
    color: #ff0157;
    font-size: 7rem;
    font-weight: 900;
}

.me{
    color: #ff0157;
    letter-spacing: .1rem;
    font-size: 5rem;
    font-weight: 900;
}

.row .col50 .imgbox{
    position: relative;
    width: 100%;
    height: 100%;
}

.row .col50 .imgbox img{
    position: relative;
    top: 12rem;
    left: 8rem;
    width: auto;
    height: 40rem;
    /* padding: 10rem 10rem;     */
}

p{
    font-size: 1.7rem;
    color: #111;
    font-weight:600;
    width: 80rem;
}



.cards{
    color:#ff0157;
}

.cards:hover{
    color: rgb(2, 52, 95);
}